
/* venues. index */
.dropdown-menu{
  width: 400px;
}

.form-inline {
  display: block;
}

/* ソート矢印上下表示 */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  opacity: 0.2;
  font-family: 'FontAwesome';
  content: "\f0ec";
  display: inline-block;
  transform: rotate(90deg);
}



/* venues create マルチセレクト */
.ms-container {
    background: transparent url('/img/switch.png') no-repeat 50% 50%;
    max-width: 1800px;
  }

  .ms-container:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    min-height: 0;
    visibility: hidden;
  }

  .ms-container .ms-selectable,
  .ms-container .ms-selection {
    background: #fff;
    color: #555555;
    float: left;
    width: 45%;
  }

  .ms-container .ms-selection {
    float: right;
  }

  .ms-container .ms-list {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    height: 200px;
    padding: 0;
    overflow-y: auto;
  }

  .ms-container .ms-list.ms-focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
    outline: thin dotted \9;
  }

  .ms-container ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  .ms-container .ms-optgroup-container {
    width: 100%;
  }

  .ms-container .ms-optgroup-label {
    margin: 0;
    padding: 5px 0px 0px 5px;
    cursor: pointer;
    color: #999;
  }

  .ms-container .ms-selectable li.ms-elem-selectable,
  .ms-container .ms-selection li.ms-elem-selection {
    border-bottom: 1px #eee solid;
    padding: 2px 10px;
    color: #555;
    font-size: 14px;
  }

  .ms-container .ms-selectable li.ms-hover,
  .ms-container .ms-selection li.ms-hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: #08c;
  }

  .ms-container .ms-selectable li.disabled,
  .ms-container .ms-selection li.disabled {
    background-color: #eee;
    color: #aaa;
    cursor: text;
  }



  /* tableの上ボーター打ち消し用 */
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 0px solid;
}

.border-info {
  border-color:white;
}

.form_required:after{
  content: '必須';
  margin-left: 10px;
  font-size: 12px;
  background: #ff6679;
  color: white;
  padding: 1px 5px;
  border-radius: 15%;
}

.is-error{
  background: pink;
}

.hide{
  display: none;
}


/****************************
//////////////////
//////////////////
↓↓↓以下　丸岡　さん↓↓↓
/public_html/demo.web-walker.jp/smg_test/admin/css/style.css
//////////////////
//////////////////
****************************/



ul {
    margin-bottom: 0;
    padding:0;
    
}

li {
    list-style: none;
}


a:hover {
    text-decoration: none;
}
p {
    margin: 0;
}

dl,dt,dd {
    margin-bottom: 0;
}

label {
    margin-bottom: 0;
}

h1,h2,h3,h4,h5 {
    margin-bottom: 0;
}

.content-wrapper {
    min-width: 1200px;
}



/* 共通--------------------------------------- */

.content-wrapper {
    background: #fff;
    padding-bottom: 100px;
}

.breadcrumb {
    background: #fff;
}

.breadcrumb-item.active {
    color: #35a7a7;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-box th,.table-box td {
    text-align: center;
}


.btn_wrapper {
    margin: 10% 0;
}
.btn-wrapper2 {
    padding: 0 3%;
    margin-bottom: 3%;
}

.more_btn {
    background: #007BFF;
    padding: 0.3em 1em;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.more_btn2 {
    background: #35a7a7;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    min-width: 100px;
}

.more_btn4 {
    background: #EF6243;
    padding: 0.3em 1em;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    /* min-width: 100px; */
}

.more_btn3{
    padding: 1em 5em;
    color: #333;
    font-weight: bold;
    border: 1px solid #DBDBDB;
    /* display: block; */
    position: relative;
    min-width: 100px;
}
  
  /* 二本の横棒を作成する */
  .more_btn3::before,
  .more_btn3::after {
    content: '';
    display: block;
    width: 15px;
    height: 3px;
    border-radius: 5px;
    background:#35a7a7;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* 2本の横棒のうち一本は縦棒にする */
  .more_btn3::after {
    background: #35a7a7;
    /* 横棒を縦にするために90℃回転させる */
    transform: translateY(-50%) rotate(90deg);
    /* プラスからマイナスへの切り替えをゆっくり行いアニメーションさせる */
    /* transition: 0.5s; */
  }




.more_btn_lg {
    background: #007BFF;
    padding: 10px 80px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.more_btn4_lg {
    background: #EF6243;
    padding: 10px 80px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.bg-blue {
    background: #007BFF;
    }

.section-bg {
        background: #F4F6F9;
    }

.bg-red {
    background:#EF6243 !important;
    }

    .bg-green {
    background:#35a7a7 !important;
    }


.bg-black {
        background: #707070 !important;
    }


.cell-gray {
        background: #F3F3F3 !important;
    }

.bg-alert {
    background: rgba(255, 0, 24, 0.18);
}

.pd0 {
    padding: 0;
}

.section-wrap {
    padding: 3%;
}



/* アコーディオン ------------------------------------------*/

  
  .accordion-ttl .title-icon {
    display: block;
    position: relative;
  }
  
  /* 二本の横棒を作成する */
  .accordion-ttl .title-icon::before,
  .accordion-ttl .title-icon::after {
    content: '';
    display: block;
    width: 15px;
    height: 3px;
    border-radius: 5px;
    background:#35a7a7;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* 2本の横棒のうち一本は縦棒にする */
  .accordion-ttl .title-icon::after {
    background: #35a7a7;
    /* 横棒を縦にするために90℃回転させる */
    transform: translateY(-50%) rotate(90deg);
    /* プラスからマイナスへの切り替えをゆっくり行いアニメーションさせる */
    /* transition: 0.5s; */
  }
  
  /*
  プラスがクリックされたら縦棒を横にしてマイナスにする疑似要素
  jQueryで付け外しを行う
  */
  .accordion-ttl.title-icon.active::after {
    transform: rotate(0);
    /* transition: 0.5s; */
  }

.plus_icon {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 5%;
}

.plus_icon::before,
.plus_icon::after {
  content: '';
  display: block;
  width: 15px;
  height: 3px;
  border-radius: 5px;
  background:#35a7a7;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.plus_icon::after {
    background: #35a7a7;
    /* 横棒を縦にするために90℃回転させる */
    transform: translateY(-50%) rotate(90deg);
    /* プラスからマイナスへの切り替えをゆっくり行いアニメーションさせる */
    /* transition: 0.5s; */
  }

  .plus_icon.active::after {
    transform: rotate(0);
    /* transition: 0.5s; */
  }


/* 検索--------------------------------------- */


.form-group dd {
    margin-bottom: 0;
    width: 100%;
}


.search-wrap tr td:first-child{
    width: 300px;
}

.search_box {
    margin-bottom: 50px;
    padding: 30px;
    border: 1px solid #DBDBDB;
}

.search_box .form-group {
    display: flex;
    margin-bottom: 1px;
    align-items: center;
    border-radius: 0;
}

.search_item_name{
    width: 200px;
    background: #35a7a7;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    padding: 7px 0;
}

.search_box ul li {
    width: 100%;
}

.btn_box {
    width: 500px;
    margin: 30px auto;
}

.btn_box .btn {
    width: 100px;
    margin-right: 30px;
    font-weight: bold;
}

.reset_btn {
    background: #EEEEEE;
}

.search_btn {
    background: #007BFF;
    color: #fff;
}

.search_box .table td{
    padding: 0.01rem;
    vertical-align: middle;

}

.count-color {
    color: #35a7a7;
    font-size: 1.5rem;
}


/* 予約一覧------------------------------------------------------------ */

.reservation_list {
    margin-bottom: 20px;
}

.reservation_list li{
    margin-right: 10px;
}

table td.table_column {
    padding: 0;
    align-items: stretch;
    margin: 0;
    height: 100%;
}

table td.table_column p {
    border-bottom: 1px solid #ccc;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    padding: 5px 0;
}

table td.table_column p:last-child {
    border-bottom: none;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    padding: 5px 0;
}

table td.table_column1 p {
    margin: 0;
    box-sizing: border-box;
    display: flex;
}

.statuscheck dt {
   background: #464646;
   color: #fff;
   padding: 0.5em 1em;
}






/* 予約新規 -----------------------------------------------------*/

.agent_box {
    font-size: 18px;
    margin: 0 3%;
}

.register-wrap {
    border: 2px solid #35A7A7;
    padding: 30px;
}

.title-icon {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.icon-size {
    font-size: 1.8em;
    margin-right: 10px;
}

.radio-box {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-top: 10px;
}


.table-bordered .table-active {
    border: 1px solid #fff;
}

.note-table textarea {
    width: 100%;
}

.caution {
    color: #EF6243;
}

.caution textarea {
    border: 1px solid #DC3545;
}

.ttl-box {
    border: 2px solid #35a7a7;
    color: #333;
    padding: 0.8em;
    background: #fff;
    border-bottom: none;
}


.section-ttl-box {
    border: 2px solid #35a7a7;
    color: #333;
    padding: 0.8em;
    background: #fff;
}

.section-ttl {
    font-weight: bold;
    font-size: 1.2rem;
}


.content-ttl {
    font-weight: bold;
    font-size: 16px;
    /* background: #35A7A7; */
    border: 1px solid #35a7a7;
    color: #333;
    margin-bottom: 20px;
    padding: 0.8em;
    background: #fff;
}


/* 請求内容------------------------------------------------------------------ */

.bill-wrap {
    margin-top: 100px;
}

.bill-box {
    margin-bottom: 60px;
    background: #fff;
}


.bill-box h3 {
    font-weight: bold;
    font-size: 16px;
    background: #35A7A7;
    color: #fff;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 0.8em;
}

.bill-box_wrap {
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    margin-right: 0;
    margin-left: 0;
  }

  
  
  /* .bill-box_wrap .price-sum {
      padding: 20px;
      border: 1px solid #ccc;
    } */
    
    .bill-list .col-12 {
        padding: 0;
    }

  .bill-list .price-sum p {
      padding-right: 1em;
  }

  .price-sum p:last-child {
    font-size: 16px;
    border-top: 1px solid #DBDBDB;
    margin-top: 1em;
    padding-top: 1em;
  }

  .price-sum span {
      margin-right: 1em;
  }
  
  .bill-box_cell {
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .bill-box_cell dt {
    font-weight: bold;
  }
  
  .bill-box_cell dd {
    margin-bottom:0;
  }

  .bill-box_wrap .col-4 {
      background: #fff;
  }

  .bill-list h3 {
    font-weight: bold;
    font-size: 16px;
    background: #F3F3F3;
    color: #333;
    margin-bottom: 0;
    padding: 0.8em;
}

.bill-list-subttl p{
    font-weight: bold;
}

/* .bill-list .bill-box_cell {    
    border-bottom: 0 solid #ccc;
} */

.total-sum {
    padding: 3%;
}

.total-sum .col-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-sum .col-3 dd {
    font-size: 20px;
}

.total-sum .col-3:first-child {
    background: #35A7A7;
    color: #fff;
    font-size: 18px;
}

.total-sum  .bill-box_cell {
    border:1px solid #35A7A7;
}


/* =============予約詳細================================================ */

.section-header {
    width: 100%;
    /* display: flex; */
    padding: 2em 0;
}

.section-header dl {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 1em;
}
.section-header dt {
    background: #35a7a7;
    padding: 0.5em;
    color: #fff;
    min-width: 150px;
}

.section-header dd {
    padding: 0.5em 1em;
    border: 1px solid #ebebeb;
    min-width: 150px;
}

.table-cell-box {
    padding: 0;
}

.table-cell-box li {
    border-top: 1px solid #DBDBDB;
    padding: 1em 0;
}

.table-cell-box li:first-child {
    border: none;
}

/* =============予約チェックボックス================================================ */

.confirm-box {
    margin: 10px auto;
    width: 60%;
    font-weight: bold;
    padding: 2em;
    border: 1px solid #EF6243;
}

.confirm-box p:last-child {
    font-size: 0.8rem;
    font-weight: normal;
}


/* =============仮押さえ================================================ */

.calender-wrap {
    margin-bottom: 50px;
    border: 1px solid #DBDBDB;
}

.choose-table tr td:last-child {
    width: 200px;
}

.register-list-header {
    display: flex;
    padding: 20px 0;
    align-items: center;
}

.register-list-header li:nth-of-type(n+2) {
    margin-left: 1em;
}



.register-list-item {
    display: flex;
    /* align-items: center; */
    margin-bottom: 0;
}

.register-list-item dl {
    width: 100%;
}

.alert-box {
    color:#EF6243;
    margin:0 auto;
    width: 600px;
    font-weight: bold;
    padding: 2em;
    border: 1px solid #EF6243;
    margin-bottom: 50px;
}
.alert-icon {
    font-size: 4em;
}


.btn-cell {
    min-width: 85px;
}


/* 登録情報----------------------------------------------------------------- */

.user-profile {
    width: 60%;
    margin: 0 auto;
    padding: 3%;
}

.user-profile thead{
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 2em;
}

.attention-box {
    color:#333;
    margin:0 auto;
    width: 600px;
    padding: 2em;
    border: 1px solid #333;
    margin-bottom: 50px;
}